body {
  margin: 0;
  background: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

canvas {
  background: #222;
  border: 2px solid #fff;
}
#game-over {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 2em;
  text-align: center;
  display: none;
}